.Details{
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 7vh 0;
    color: #20a6ba;
}

.DetailsContent{
    width: 60%;
    background: white;
    min-height: 93vh;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}
.Icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    /* color:  */
}

.Icons i {
    margin-right: 0.5rem;
}

.DetailsGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* text-align: left; */
    justify-items: stretch;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.05);
    
}
.Advanced{
    height: 2rem;
    text-align: left;
    /* border: 1px solid; */

}

.Contact{
    min-height: 40vh;
    display: flex;
    background: rgba(0, 0, 0, 0.05);
}

.ContactForm{
    width: 50%;
    text-align: left;
    padding: 0 5px;
}
.ContactDetails{
    width: 50%;
    height: 50vh;
    padding: 0 1rem;
    font-size: 0.9rem;
    text-align: left;
    /* background: purple */
}

@media(max-width:40rem){
    .DetailsContent{
        width: 100%
    }
}