.ResultItems {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
}

.ResultItems h4 {
    text-align: left;
}

.ResultList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
}


@media(max-width:80rem) {
    .ResultList {
        grid-template-columns: repeat(4, 1fr)
    }
}
@media(max-width:60rem) {
    .ResultList {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width:40rem) {
    .ResultList {
        grid-template-columns: repeat(1,1fr)
    }
}