.Toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 3rem;
    height: 7vh;
    /* background-color: rgba(0, 0, 0, 0.3); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

@media(max-width:40rem){
    .Toolbar{
        padding: 0.5rem;
    }
}
@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 800px) {
    .Toolbar{
        padding: 0.1rem;
    }
}