.Input{
    width: 50%;
    height: 2.7rem;
    outline: 0;
    font-size: 1rem;
    /* text-align: center; */
    padding: 5px;
    margin: 1rem 1%;
    border: 0;
    border-radius: 3px;
    transition: all 0.3s;
}
.Input:focus{
    border: 1px solid #42b984
}