.Textarea{
    width: 50%;
    height: 20%;
    outline: 0;
    font-size: 1rem;
    /* text-align: center; */
    padding: 5px;
    margin: 0.5rem 1%;
    border: 0;
    border-radius: 3px;
    transition: all 0.3s;
}
.Textarea:focus{
    border: 1px solid #42b984
}