.Bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.Bottom div {
    /* color: rgba(255, 255, 255, 0.66); */
    color: #fff;
    font-weight: bold;
    width: 7%;
    margin: 0 25px;
    display: flex;
    align-items: center;
    font-size: 20px;
    /* justify-content: space-around; */
}

.Bottom i {
    margin: 0 1rem;
    color: #20a6be;
    font-weight: bold;
    font-size: 20px;
}

@media(max-width:40rem) {
    .Bottom div {
        justify-content: space-around;
        width: 20%;
    }
    .Bottom i {
        margin: 0;
        color: #20a6be;
        font-weight: bold;
        font-size: 20px;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 800px) {
    .Bottom div {
        width: auto;
    }
}