.ResultItem {
    background: #fff;
    width: 100%;
    /* max-width: 16rem; */
    height: 30vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 4px rgba(82, 82, 82, 0.2);
    font-weight: bold;
    border-radius: 4px;
    overflow: hidden;
}

.ResultItemImage {
    width: 100%;
    height: 100%
}

.ResultItemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0.2rem 1rem;
}

.ResultItemContent h4 {
    margin: 0.3rem 0;
}

.ResultItemContent h5 {
    margin: 0
}

.Icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.Icons i {
    margin-right: 0.4rem;
}

@media(max-width:40rem) {
    .ResultItem {
        height: auto;
        min-width: 200px;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 800px) {
    .ResultItem {
        height: auto;
    }
}