.Finder {
    display: grid;
    color: #20a6be;
    max-width: 100%;
}
.ResultFilters {
    min-height: 100vh;
    display: flex;
    padding:3rem;
}
@media(max-width:40rem){
    .ResultFilters {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0.2rem;
    }
}
@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 800px) {
    .ResultFilters {
        padding:0.5rem;
    }
}