.NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.NavigationItem a {
    color: rgba(255, 255, 255, 0.36);
    font-family:  'Mansalva';
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    /* background-color: #8f5c2c; */
    /* border-bottom: 4px solid #40a4c8; */
    /* border-bottom: 4px solid #4ad397; */
    color: white;
}