.ResultMap {
    /* box-shadow: 0 4px 6px rgba(82, 82, 82, 0.2); */
    box-shadow: 0 4px 16px rgba(32, 166, 190, 0.4);
    /* border: 1px solid; */
    height: 80vh;
    width: 95%;
    border-radius: 10px;
    margin-top: 1rem;
}