.Result {
    width: 75%;
    margin: 0 0.2rem;
}

@media(max-width:40rem) {
    .Result {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}