.Searchbox {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 20vh;
    margin-top: 15rem;
}

.Choose {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 1.2rem;
    height: 30%;
    color: rgba(255, 255, 255, 0.36);
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    transform: translateY(4px);
}

.Choose div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid transparent;
}

.Active {
    color: white;
    border-bottom: 4px solid #42b984 !important;
}

.SearchbarContainer {
    height: 60%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    /* transform: translateY(-4px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 4rem;
    padding-bottom: 0.25rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.36);
    font-weight: bolder;
    border-radius: 3px;
}

.Searchbar {
    height: 50%;
    width: 100%;
    display: flex;
    padding: 2px;
    /* justify-content: space-between; */
}

.Searchbar input {
    height: 100%;
    border: 3px solid #f4f4f4;
    width: 100%;
    border-radius: 3px;
    display: block;
    padding: 0 0.7rem;
    margin-right: 4px;
    outline-color: #42b984;
    font-size: 1rem;
}

.Searchbar button {
    outline: none;
    border: none;
    color: white;
    background-image: linear-gradient(45deg, rgb(33, 166, 190) 0%, rgb(80, 218, 145) 100%);
    border-radius: 3px;
    display: inline-block;
    /* width: 11%; */
    width: 3.5rem;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Searchbar i {
    font-size: 1.5rem;
}

@media(max-width:40rem) {
    .Searchbox {
        width: 100%
    }
    .Choose {
        height: auto;
    }
    .SearchbarContainer {
        font-size: 0.6rem;
        padding: 0 2rem;
        height: 100%;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 800px) {
    .Searchbox {
        margin-top: 0;
        height: 93vh;
    }
    .Choose {
        height: auto;
    }
    .SearchbarContainer {
        height: 23vh;
        font-size: 0.6rem;
        padding: 0 2rem;
    }
}