.Footer {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: row;
    justify-content: center;
}

.Footer li {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.Footer a {
    color: rgba(255, 255, 255, 0.36);
    font-family:  'Mansalva';
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
.Footer a:hover{
    color: white
}

