.Search {
    height: 100vh;
    width:100%;
    background-image: url(../../assets/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: center center;
}