.Slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: end;
    color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    transition: all .2s ease-in-out;
    outline:none;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
}

.GalleryImage {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(82, 82, 82, 0.2);
    color: transparent;
    margin:1%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    transition: transform 0.25s;

}
.GalleryImage:hover{
    transform: scale(1.1)
}

.ImageViewerFull {
    position: fixed;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 10%;
    display: grid;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(82, 82, 82, 0.2);
    color: rgba(255, 255, 255, 0.4);
    z-index: 150;
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

.ImageViewerFull .NavLeft, .ImageViewerFull .NavRight, .ImageViewerFull .Paginator {
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.Open {
    display: block !important;
    opacity: 1!important;
}

.Slider:hover .NavLeft, .Slider:hover .NavRight, .Slider:hover .Paginator {
    opacity: 1;
}

.Image {
    width: 100%
}

.ImageToggle {
    position: absolute;
    height: 70%;
    width: 70%;
    left: 15%;
    top: 15%;
}

.NavLeft {
    opacity: 0;
    width: 7%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    left: 0;
    top: 20%;
}

.NavRight {
    opacity: 0;
    width: 7%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    right: 0;
    top: 20%;
}

.NavLeft:hover, .NavRight:hover {
    color: rgba(255, 255, 255, 0.8);
}

.Paginator {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    bottom: 3%;
}

.Paginator i {
    margin: 0 0.5rem;
}

.Active {
    color: rgba(255, 255, 255, 0.8);
}

@media(max-width:40rem) {
    .ImageViewerFull {
        width: 80%;
        left: 10%
    }
    .Paginator i {
        font-size: 0.5rem!important
    }
    .NavLeft i {
        font-size: 1.5rem!important
    }
    .NavRight i {
        font-size: 1.5rem!important
    }
}