.Button {
    cursor: pointer;
    width: 100%;
    border: 0;
    height: 2.7rem;
    border-radius: 3px;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: bold;
    background: linear-gradient(45deg, #21a6be 0%,#50da91 100%);
    color: #fff;
    /* animation: shadow-pulse 1s infinite; */
    touch-action: manipulation;
}
.Button:focus{
    outline: none;
}

.Button:focus:not(:active){
    animation: shadow-pulse 1s;
}
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
     }
}