.CheckButton {
    cursor: pointer;
    border: 0;
    height: 2.7rem;
    border-radius: 3px;
    font-size: 1rem;
    margin: 2% 1%;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(82, 82, 82, 0.2);
    background: linear-gradient(to top, rgb(250, 250, 250), #f3f8ff);
    color: rgba(0, 0, 0, 0.8);
}

.CheckButton:focus {
    outline: none;
}

.Active {
    background: linear-gradient(45deg, #21a6be 0%, #50da91 100%);
    color: #fff;
}