*{
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Mansalva|Roboto+Mono:400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');
body {
  margin: 0;
  font-family:  'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global styles for autocomplete */
.ap-input-icon.ap-icon-clear {
  display: none;
}

.ap-input-icon.ap-icon-pin {
  display: none;
}

.ap-suggestion {
  color: black;
}

.ap-dropdown-menu.ap-with-places{
  text-align: left
}