.Filters {
    width: 25%;
    margin: 0 0.1rem;
}
.MoreFilters{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1%; */
}

@media(max-width:40rem) {
    .Filters {
        width: 100%;
    }
}

.Input{
    width:"100%";
    height: 2.7rem;
    outline: 0;
    font-size: 1rem;
    /* text-align: center; */
    padding: 5px;
    margin: 1rem 1%;
    border: 0;
    border-radius: 3px;
    transition: all 0.3s;
}
.Input:focus{
    border: 1px solid #42b984
}